[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brickops = "*"

[dev-packages]
pytest = "*"
pyspark = "*"
requests = "*"
pyyaml = "*"
"datacontract-cli[databricks]" = "*"
[requires]
python_version = "3.10"
